<div class="flex text-white h-screen">
  <div class="bg-gray-800 p-3 space-y-2 overflow-y-scroll">
    <% 40.times do |div| %>
      <div class="bg-white text-gray-800 w-12 h-12 rounded-full flex items-center justify-center">
      <%= div %>
      </div>
    <% end %>
  </div>
  <div class="bg-gray-700 p-3 w-60 flex flex-col">
    <div class="px-3 h-12 shadow-md flex items-center">tailwind CSS</div>
    <div class="p-3 flex-1 overflow-y-scroll space-y-2">
    <% 40.times do |div| %>
      <p>channel <%= div %></p>
    <% end %>
    </div>


  </div>
  <div class="bg-gray-600 flex-1 flex flex-col">
    <div class="p-3 h-12 flex items-center shadow-md">general</div>
    <div class="p-3 flex-1 space-y-4 overflow-y-scroll">
    <% 40.times do |div| %>
      <p>message <%= div %>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <% end %>
    </div>
  </div>
</div>
